.error{
  position: absolute;
  width: 100%;
  top: -20px;
  background: #f44336c7;
  color: #FFF;
  padding: 3px 10px;
  font-size: 12px;
}
.error::after {
  content: '';
  position: absolute;
  left: 12px;
  top: 100%;
  border-top: 8px solid #f44336c7;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.form-control, .btn {
  border-radius: 0!important;
  box-shadow: none;
}
.page-title {
  padding: 0.8rem 0;
}
.btn-custom {
  background-color: #64c5b1;
  border-color: #64c5b1;
  color: #FFF;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
  background-color: #51bea8 !important;
  border: 1px solid #51bea8 !important;
  color: #FFF;
}
.btn-bordered.btn-custom {
  color: #64c5b1 !important;
  border: 2px solid #64c5b1 !important;
}
.btn-bordered.btn-custom:hover,
.btn-bordered.btn-custom:focus,
.btn-bordered.btn-custom:active {
  background-color: #64c5b1;
  color: #ffffff !important;
  border: 2px solid #4abba4 !important;
}
.checkbox-custom input[type="checkbox"]:checked + label::before {
  background-color: #64c5b1;
  border-color: #64c5b1;
}
.checkbox-custom input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.radio-custom input[type="radio"] + label::after {
  background-color: #64c5b1;
}
.radio-custom input[type="radio"]:checked + label::before {
  border-color: #64c5b1;
}
.radio-custom input[type="radio"]:checked + label::after {
  background-color: #64c5b1;
}
.panel-heading, .card-heading {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card-heading strong span{
  text-transform: lowercase;
  font-weight: bold;
}
.nav-sidebar .nav-item:not(.nav-item-header):last-child{
  padding-bottom: 0rem;
}
.nav-sidebar .nav-item:not(.nav-item-header):first-child{
  padding-top: 0rem
}
.nav-group-sub .nav-link {
  padding: .625rem 1.25rem .625rem 2.5rem;
}
label code{
  padding: 0;
  background: #FFF;
}
.table-data .form-group, .table-data .form-group{
  padding: 0;
  margin: 0;
}
.table-data .form-group .select-row{
  border: 0;
  border-bottom: 1px solid #64c5b1;
  padding: 0;
  text-align: center;
}
.table-data .form-group.form-search input{
  border: 0;
  border-bottom: 1px solid #64c5b1;
}
.table-data .form-group.form-search i{
  font-size: 14px;
}
.pagination{
  float: right;
}
.pagination li a i, .pagination li a{
  font-size: 12px;
}
.pageView{
  padding-top: 5px;
  padding-bottom: 0;
}
.sk-three-bounce{margin:auto;width:80px;text-align:center}.sk-three-bounce .sk-child{width:20px;height:20px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:sk-three-bounce 1.4s ease-in-out 0 infinite both;animation:sk-three-bounce 1.4s ease-in-out 0 infinite both}.sk-three-bounce .sk-bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.sk-three-bounce .sk-bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes sk-three-bounce{0%,80%,100%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes sk-three-bounce{0%,80%,100%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}.no-border{border:none!important}.table{margin-bottom:0}